<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.club.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.example.club.model.Image">
    <id column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Base_Column_List">
    image_id, path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image_path
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <select id="selectMaxPrimaryKey" resultType="java.lang.Integer">
    select max(image_id)
    from image_path
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from image_path
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.club.model.Image">
    insert into image_path (image_id, path)
    values (#{imageId,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="imageId"
          parameterType="com.example.club.model.Image">
    insert into image_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        image_id,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.club.model.Image">
    update image_path
    <set>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.club.model.Image">
    update image_path
    set path = #{path,jdbcType=VARCHAR}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>